div{background-color: rgb(255, 255, 255);
text-align: center;
color: white;
height: 80px;}
.livro{text-align: center;
color: black;
font-size: xx-large;
background-color: darkkhaki;}
.img{width: 600px;
height: 680px;
margin-left: 350px;}
.LULA{font-size: medium;
text-align: center;
width: 450PX;
margin-left: 450PX;
font-family: cursive;
background-color: darkolivegreen;}
.personagens{text-align: center;
}
.personage{margin-left: 550px;}
.oi{color: brown;
font-size: xx-large;
background-color:darkolivegreen;}
*{background-color:whitesmoke;}
.cor{background-color: white;
color: darkcyan;}
.oiii{text-align: center;
margin-left: 580px;}
.imgg{width:350px;
height: 350px;
margin-left: 450px;}